In [5]:
import pandas as pd
import numpy as np

#PassengerId - this is a just a generated Id
#Pclass - which class did the passenger ride - first, second or third
#Name - self explanatory
#Sex - male or female
#Age
#SibSp - were the passenger's spouse or siblings with them on the ship
#Parch - were the passenger's parents or children with them on the ship
#Ticket - ticket number
#Fare - ticker price
#Cabin
#Embarked - port of embarkation
#Survived - did the passenger survive the sinking of the Titanic?

In [6]:
pd.read_csv("titanic.csv")
data = pd.read_csv('titanic.csv')
data.head()
data.dtypes
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
data.columns
data['Survived']==0
print('Total number of passangers in the training data...', len(data))
print('Number of passangers  who survived...', len(data[data['Survived'] == 1]))
print("Number of passangers  who didn't survived...", len(data[data['Survived'] == 0]))
data['Sex'].value_counts()
print('% of male who survived', 100*np.mean(data['Survived'][data['Sex']=='male']))
print('% of female who survived', 100*np.mean(data['Survived'][data['Sex']=='female']))
np.mean(data['Survived'][data['Sex']=='male'])
data['Pclass'].value_counts()

Total number of passangers in the training data... 891
Number of passangers  who survived... 342
Number of passangers  who didn't survived... 549
% of male who survived 18.890814558058924
% of female who survived 74.20382165605095

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

In [8]:
print('% of passengers who survived in first class', 100*np.mean(data['Survived'][data['Pclass'] == 1]))
print('% of passengers who survived in second class', 100*np.mean(data['Survived'][data['Pclass'] == 2]))
print('% of passengers who survived in third class', 100*np.mean(data['Survived'][data['Pclass'] == 3]))
data[["Pclass","Survived"]].groupby(["Pclass"], as_index = False).mean()
data[["Pclass", "Survived"]].groupby(['Pclass']).mean()
data.shape
data.info()
data['Age'].value_counts()
data['Cabin']

% of passengers who survived in first class 62.96296296296296
% of passengers who survived in second class 47.28260869565217
% of passengers who survived in third class 24.236252545824847
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [9]:
data['Sex']
df2 = data.copy()
df2['Sex'] = data['Sex'].apply(lambda x: 1 if x == 'male' else 0)
df2['Sex']
df2 = data.copy() #dataframe copy

In [10]:
df2.isnull().sum()
int(data['Age'].mean())
df2['Age'] = df2['Age'].fillna(np.mean(df2['Age']))
df2.isnull().sum()
df2.Embarked.value_counts()
emabark = df2['Embarked'].dropna()
df2[df2['Embarked'].isnull()]
df2['Embarked'].mode()
df2['Embarked'].fillna(df2['Embarked'].mode()[0], inplace=True)
df2.isnull().sum()
df2['Cabin'].value_counts()

Cabin
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: count, Length: 147, dtype: int64

In [11]:
df2['Cabin'].mode()
df2['Cabin'].fillna(df2['Cabin'].mode()[0], inplace=True)
df2.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [12]:
df2['PassengerId'].corr(df2['Pclass'])

-0.035143994030379766